<!DOCTYPE html>
<html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="ja">-->

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="css/details.css">
	<link rel="stylesheet" href="https://unpkg.com/ress@5.0.2/dist/ress.min.css">
	<title>詳細画面</title>
</head>

<body>
	<header>
		<img src="img/DriveLine.png" alt="会社のロゴ" title="会社のロゴ">
		<h1>JavaTeamDevelopment</h1>
	</header>

	<hr>

	<main>
		<h2>自己紹介</h2>
		<!--       		<tr th:each="detaillist : ${DetailList}" th:object="${detaillist}">			-->
		<table class="table1" th:object="${DetailsList}">
			<tr>
				<td class="support0">管理番号</td>
				<!--					<td class = "support1">XXX01</td>-->
				<td th:text="*{userId}" class="support1"></td>
				<!--						<td th:text ="${DetailsList.userId}"></td>						-->
				<!--					<input type="submit" class="support2" th:value ="*{user_id}" >				-->
			</tr>
			<tr>
				<td class="support0">名前</td>
				<!--					<td class = "support1">新庄剛志</td>-->
				<td th:text="*{name}" class="support1"></td>
				<!--						<td th:text ="${DetailsList.name}"></td>-->
			</tr>
			<tr>
				<td class="support0">フリガナ</td>
				<!--					<td class = "support1">シンジョウツヨシ</td>-->
				<td th:text="*{kana}" class="support1"></td>
			</tr>
			<tr>
				<td class="support0">性別</td>
				<!--					<td class = "support1">男性</td>-->
				<td th:text="*{gender}" class="support1"></td>
			</tr>
			<tr>
				<td class="support0">趣味</td>
				<!--					<td class = "support1">項目1,項目4,項目8,項目9</td>-->
				<td th:text="*{hobby}" class="support1"></td>
			</tr>
			<tr class="tr0">
				<td class="support3">一言</td>
				<!--					<td class = "support4">DRIVELINEのサポートメンバーの新庄です！-->
				<!--						<br>よろしくお願いします！</br></td>-->
				<td th:text="*{word}" class="support4"></td>
			</tr>
			</tr>

		</table>

		<tr th:each="detaillist : ${DetailsList}" th:object="${detaillist}">
			<form th:action="@{/introduction_move}" name="introduction_form">
				<table class="table2">
					<!--			<form th:action = "@{/introduction_move}" name = "introduction_form">-->
					<th class="support5">
						<button class="btn" type="submit"><span>戻る</span></button>
					</th>
			</form>
			<form th:action="@{/input2_move}" name="input_form">
				<th class="support5">
					<button class="btn" type="submit"><span>編集</span></button>
				</th>
			</form>


<!--			<form th:action="@{/book-delete}" th:object="${DetailsList}" method="post">-->
				<th>
					<a class="dele1" type="submit" value="警告" form="delete-form" th:href="@{/book-delete(userId=*{userId})}"
						onclick="return confirm('このデータを削除しますか？')&& confirm('一度消すと元には戻せませんが本当に大丈夫＾－＾？？')">
					<span>削除</span>
					</a>
				</th>
<!--			</form>-->


<!--			<th>-->
<!--			<button th:href="@{/book-delete(userId=*{userId})}" class = "dele1"-->
<!--				type="submit" value="警告" form="delete-form" onclick="return confirm('このデータを削除しますか？')&& confirm('一度消すと元には戻せませんが本当に大丈夫＾－＾？？')"-->
<!--			<span>削除</span-->
<!--			</button>-->
<!--			</th>-->
 

			</table>
		</tr>

	</main>
</body>

</html>

