<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- リセットCSSを読み込む処理を記述 -->
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
	<!-- cssファイルを読み込む処理を記述 -->
	<link rel="stylesheet" href="signUp.css">
	<!-- jsのCDNを読み込む処理を記述 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
	<!-- ヘッダー生成 -->
	<header>

		<img src="C:\Users\homur\git\Team_HIK2\Team_HIK2\src\main\resources\static\img\DLlogo.png">

		<h2>JavaTeamDevelopment</h2>

	</header>

	<div class="warraper">

		<h2>新規会員登録</h2>

		<form action="./topScreen.html" name="login_form">
			<table>
				<tr>
					<th for="userId" class="label">UserID</th>
					<td>
						<p>必須</p>
					</td>
					<td><input type="text" id="userId" name="userId"></td>
				</tr>
				<tr>
					<th for="mailAddress" class="label">MailAddress</th>
					<td>
						<p>必須</p>
					</td>
					<td><input type="text" id="mailAddress" name="mailAddress"></td>
				</tr>
				<tr>
					<th for="password" class="label">PassWord</th>
					<td>
						<p>必須</p>
					</td>
					<td><input type="password" id="passWord" name="password"></td>
				</tr>
			</table>
			<input type="submit" id="btn" value="登録">
		</form>

		<form action="./loginScreen.html" name="new">

			<input type="submit" id="sbt" value="ログイン画面へ">

		</form>
	</div>
	<script src="./signUp.js"></script>
</body>

</html>