<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>いったん出力します</title>
</head>
<body>
	<form th:action = "@{/intro_move}" name = "introduction_form">
    <table>
<!--		<tr th:each="intro : ${IntroList}">-->
        <tr th:each="intro : ${IntroList}" th:object="${intro}">
            <td th:text="*{introduction_id}"></td>
            <td th:text="*{user_id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{kana}"></td>
            <td th:text="*{gender}"></td>
            <td th:text="*{hobby}"></td>
            <td th:text="*{word}"></td>
            <td th:text="*{created_at}"></td>
            <td th:text="*{updated_at}"></td>
        </tr>
    </table>
    <h2><button type = "submit">ただの遷移</button></h2>
    </form>
</body>
</html>