body {
	width: 100%;
	height: 100%;
	background-color: rgb(233,233,233);
}

header {
	width: 100%;
	background-color: rgb(166,163,163);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 3%;
	padding-right: 8%;
}

img {
	width: 100px;
	height: 100px;
}

hr {
	border: solid 1px rgb(150,150,150);
}

table {
	margin: auto;
}


	
td {
	border: 1px solid black;
	height: 3em;
	width: 25em;
	line-height: 3.5;
}

h2,h3 {
	text-align: center;
}

h2 {
	padding-top: 4em;
}

.www {
	background-color: red;
	border-radius: 10px;
	text-align: center;
	padding: 1em 1.5em;
	margin: 1em 2em;
}

.A {
	background-color: blue;
	padding: 1em 3em;
	margin-bottom: 1em;
}

.B {
	color: blue;
}